{{{ get_main_image_view }}}
<div id="merchsys-shop" class="row">
	<div class="container-fluid merchsys-shop-container col-12">
	{{{header}}}
	{{# response }}<p class="message">{{{ response }}}</p>{{/ response }}
	{{{content}}}
	{{{footer}}}
	</div>
</div>