{{# items }}
<div class="form-group row align-items-center submit-block">
  <div class="col-12 offset-md-3 col-md-6">
	<button class="btn btn-primary" type="{{ type }}">
	 {{ label }}
	</button>
  </div>
</div>
{{/ items }}